*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 2rem;
    margin: 3rem;
    background-color: rgb(255, 200, 0);
    border-radius: 2rem;
    border: 2px solid ;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    margin-bottom: 1rem;
}
select, button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    background-color: #ffcc80;
}

button {
    background-color: #ff7043;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #e64a19;
}

/* Joke Box */
.joke{
    padding: 5px;
    margin-top: 2rem;
   
}
#count{
    margin-top: 2rem;
}

/* Responsive */
@media (max-width: 500px) {
    h1{
        font-size: 12px;
    }
    .controls {
        display: flex;
        height: 2rem;
        gap: 1rem;
    }
    select, button {
        font-size: 10px;
        padding: 4px;
    }
    .joke{
        padding: 0;
        font-size: 15px;
        margin-top: 1rem;
    }
    
}